@import "../../../data/styles.css";
.social,
.email-wrapper {
	display: flex;
	align-items: center;
	padding-bottom: 20px;
}

.social a,
.email-wrapper a {
	text-decoration: none;
}

.social-icon {
	font-size: 15px;
	color: var(--secondary-color);
}

.social-text {
	color: var(--secondary-color);
	padding-left: 30px;
	margin-top: -20px;
	font-weight: 600;
	font-size: 14px;
}

.email::before {
	content: "";
	display: block;
	padding-top: 20px;
	border-top: 3px solid #f4f4f5;
	margin-top: 20px;
}

.email-wrapper {
	padding-top: 20px;
}

.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

@media (max-width: 768px) {
    .socials {
        flex-direction: row;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .social a {
        font-size: 0.8em;
    }
}
