@import "../../../data/styles.css";

.article {
	display: flex;
	padding: 20px;
	flex-wrap: wrap; /* Allow wrapping for responsiveness */
}

.article a {
	text-decoration: none;
	color: inherit;
}

.article-left-side {
	flex: 1; /* Allow it to grow */
	min-width: 20%;
	max-width: 150px; /* Minimum width for smaller screens */
}

.article-right-side {
	flex: 3; /* Allow it to grow */
	min-width: 300px;
	border-radius: 20px;
	opacity: 0.8;
	padding: 30px;
}

.article-right-side:hover {
	background: #fafafa;
	opacity: 1;
	transition: background-color 0.3s ease-in-out;
}

.article-date {
	padding-top: 30px;
	font-size: 15px;
	color: var(--tertiary-color);
}

.article-title {
	color: #000000;
	font-size: 16px;
	font-weight: 600;
}

.article-description {
	padding-top: 10px;
	font-size: 12px;
	color: var(--secondary-color);
	font-weight: 480;
	line-height: 25px;
}

.article-link {
	padding-top: 10px;
	font-size: 14px;
	color: var(--link-color);
	font-weight: 700;
}

.article-wrapper {
    display: flex;
    flex-direction: column; /* Stack articles vertically */
    padding: 20px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .article {
        flex-direction: column; /* Stack items vertically */
        align-items: flex-start; /* Align items to the start */
        padding: 15px; /* Adjust padding for smaller screens */
    }

    .article-left-side,
    .article-right-side {
        min-width: 100%; /* Take full width */
        margin-bottom: 10px; /* Add some space between stacked items */
    }

    .article-wrapper {
        padding: 15px; /* Adjust padding for smaller screens */
    }
}

@media (max-width: 480px) {
    .article {
        padding: 10px; /* Further reduce padding for very small screens */
        font-size: 0.9em; /* Adjust font size */
    }

    .article-wrapper {
        padding: 10px; /* Further reduce padding for very small screens */
    }
}
