.about-logo-container {
	display: flex;
	justify-content: left;
	padding-top: 25px;
}

.about-logo {
	display: flex;
	position: fixed;
	border: 1px solid white;
	border-radius: 50%;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	top: 4vh;
}

.about-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	padding-top: 120px;
}

.about-main {
	display: flex;
	flex-direction: row; /* Ensures that items are in a row on larger screens */
}

.about-right-side {
	flex-basis: 900px; /* Adjust this for larger screens */
}

.about-title {
	width: 100% !important; /* Full width for titles */
}

.about-subtitle {
	width: 80% !important; /* Adjust as necessary */
}

.about-left-side {
	display: flex;
	flex-direction: column;
	flex-basis: 300px; /* Adjust this for larger screens */
}

.about-image-container {
	width: 370px; /* Adjust this for larger screens */
}

.about-image-wrapper {
	display: inline-block;
	overflow: hidden;
	width: 100%;
	border-radius: 10%;
	transform: rotate(3deg);
}

.about-image-wrapper img {
	display: block;
	width: 100%; /* Ensure the image scales appropriately */
}

.about-socials {
	padding-top: 50px;
	padding-bottom: 50px;
}

.about-socials-mobile {
	display: none; /* Hidden by default */
}

@media (max-width: 1024px) {
	.about-logo {
		z-index: 100; /* Keep logo visible above content */
	}

	.about-main {
		flex-direction: column; /* Stack items vertically on medium screens */
	}

	.about-subtitle {
		padding-top: 20px !important; /* Adjust subtitle spacing */
	}

	.about-left-side {
		flex-basis: 100%; /* Full width on smaller screens */
		order: 1; /* Order for stacking */
	}

	.about-right-side {
		flex-basis: 100%; /* Full width on smaller screens */
		order: 2; /* Order for stacking */
	}

	.about-image-container {
		padding-bottom: 40px; /* Spacing for images on smaller screens */
		width: 80%; /* Make image container responsive */
	}

	.about-socials {
		display: none; /* Hide the desktop socials */
	}

	.about-socials-mobile {
		padding-top: 30px; /* Spacing for mobile socials */
		display: flex; /* Show mobile socials */
	}
}

@media (max-width: 600px) {
	.about-container {
		padding-top: 60px; /* Adjust top padding for mobile */
	}

	.about-image-container {
		width: 90%; /* Slightly increase width on mobile */
	}
}
